.now_albums {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.now_album {
    position: relative;
    flex: 1;
    max-height: 170px;
    max-width: 170px;
    margin-left: 5px;
}

.now_album:first-child {
    margin-left: 0;
}

.now_album img {
    max-width: 100%;
    object-fit: cover;
    transition: 0.2s linear;
    aspect-ratio: 1/1;
}

.now_album img:hover,
.now_show img:hover {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

.now_album_text {
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color: white;
}

.now_album_text_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 0.7em;
    padding: 3px;
}

.now_game_text {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.now_game_text a {
    color: white;
    background: black;
    padding: 5px 10px;
    opacity: 0.8;
    border-bottom: none;
}

.now_shows {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 5px;
    position: relative;
}

.now_show {
    display: flex;
    align-items: center;
    justify-content: center;
}

.now_show img {
    max-height: 200px;
}

.now_show img,
.now_album img {
    transition: 0.2s linear;
    box-shadow: #adb5bd 0px 8px 24px;
}

.now_album a,
.now_show a {
    border-bottom: none;
}
